/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	font-family: "Open Sans", sans-serif;
	color: #555555;
}

a {
	text-decoration: none;
	color: #7cc576;
}

a:hover {
	color: #9ed49a;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
}


/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	[data-aos-delay] {
		transition-delay: 0 !important;
	}
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
	width: 100%;
	height: 100vh;
	background: url("https://i.ibb.co/GkWRFJW/hero-bg.png");
	position: relative;
}

#hero .hero-container {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 0 15px;
}

#hero .hero-logo {
	margin-bottom: 30px;
}

#hero h1 {
	margin: 0 0 30px 0;
	font-size: 48px;
	font-weight: 500;
	line-height: 56px;
	color: #fff;
}

#hero h2 {
	color: #aeaeae;
	margin-bottom: 30px;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

#hero .btn-get-started {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 14px 30px;
	border-radius: 3px;
	margin: 10px;
	color: #fff;
	background: #7cc576;
}

#hero .btn-get-started:hover {
	transition: 0.5s;
	background: #fff;
	color: #7cc576;
}

@media (min-width: 1024px) {
	#hero {
		background-attachment: fixed;
	}
}

@media (max-width: 768px) {
	#hero h1 {
		font-size: 28px;
		line-height: 36px;
	}

	#hero h2 {
		line-height: 22px;
	}
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
	padding: 60px 0;
	overflow: hidden;
}

.section-bg {
	background-color: whitesmoke;
}

.section-title {
	text-align: center;
	padding-bottom: 40px;
}

.section-title h2 {
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
	padding-bottom: 0;
	color: #151515;
}

.section-title p {
	margin-bottom: 0;
	color: #aeaeae;
}
/*--------------------------------------------------------------
# Scrollbar
--------------------------------------------------------------*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	color: #fff;
	font-size: 14px;
	position: relative;
}

#footer::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.85);
	z-index: 1;
}

#footer .footer-top {
	position: relative;
	z-index: 2;
	text-align: center;
	padding: 80px 0;
}

#footer .footer-top .footer-logo img {
	height: 80px;
}

#footer .footer-top h3 {
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	position: relative;
	font-family: "Poppins", sans-serif;
	padding: 30px 0 0 0;
	margin-bottom: 0;
}

#footer .footer-top p {
	font-size: 15;
	font-style: italic;
	margin: 30px 0 0 0;
	padding: 0;
}

#footer .footer-bottom {
	border-top: 1px solid #222222;
	z-index: 2;
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
}

#footer .copyright {
	text-align: center;
}
